body{
	padding-top: 50px;
}

#headerWrapper{
	position: relative;
	padding: 0;
	margin: 0;
	overflow: hidden;
	height: 600px;
	background-image: url(../images/headerlogo/background.png); 
	background-repeat: no-repeat;
	/* Changes the image size */
	background-size: 100% 700px;
	background-position: top center;
	/* Doesn't move the background image when scrolled */
	background-attachment: fixed;     
}